<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find agv_define)/param/robot_param/motorInfomation.yaml"/> 
  <arg name="driver_name"        default="ggm Motor"/>
  <node pkg="ggm_motor" type="ggm_motor_node" name="$(arg driver_name)">
    <param name="baudrate" type="int" value="19200"/> 
    <param name="port" type="str" value="/dev/USB_MD200"/>
  </node>

</launch>